//Mixins
@mixin flexbox {
  display: flex;
  width: 100%;
  align-items: center;
}
@mixin link {
  text-decoration: none;
  color: $main-color;
}
//Variables
$main-color: #4877ef;

.root {
  @include flexbox;
  color: $main-color;
}

.header-logo-name {
  @include link;
  font-size: 1.5rem;
  padding-left: 50px;
  
}
.categories {
  @include flexbox;
  justify-content: center;
}
.categories-link {
  @include link;
  font-size: 1.2rem;
  font-family: Poppins;
  letter-spacing: 0.1rem;
}
.header-arrow-icon{
  cursor: pointer;
}
.contact {
  @include flexbox;
  flex-direction: column;
  line-height: 0px;
}
.header-contactWords{
  letter-spacing: 0.1rem;
}
.header-contactNumber {
  color: #000;
  font-size: 1.1rem;
}
.header-buttons {
  @include flexbox;
  justify-content: space-evenly;
  width: 100%;
}
.header-button {
  font-size: 1.5rem;
  cursor: pointer;
  &:hover{
    color:#a7a7a7
  }
}
